.avatar {
  display: flex!important;
  background: color('grey','light');
  border-radius: 50%;
  background-size: cover!important;
  background-repeat: no-repeat;
  background-position: center!important;
  overflow: hidden;
  
  justify-content: center;
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;

  img {
    max-width: none!important;
    max-height: 100%!important;
    object-fit: cover;
  }
}

.profile--micro {
  display: flex;
  align-items: center;

  .avatar {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
  }
}

.profile--mini {
  text-align: center;

  .avatar {
    margin: 0 auto;
    width: 4rem;
    height: 4rem;
  }

  .user {
    margin-top: 0.75rem;
  }
}

.park-info {
  margin-top: 1.5rem;

  .profile--mini {
    margin-top: -3rem;
  }
}
