.page-billboards, .page-convert, html.is-dark {
  background: color('accent','darker');
}

.is-vertical {
  .hero {
    .cover-photo {
      transform: rotate(-90deg);
      max-width: 450px;
      height: auto;
    }
  }
}