.card {
  position: relative;
  width: 100%;
  border-radius: 1rem;
  box-shadow: none;
  //border: 2px solid color('grey', 'light');
  border: 0;
  overflow: hidden;

  .card-image {
    position: relative;
    background-color: color('grey','light');
    background-size: cover!important;
    background-position: center!important;
    height: 180px;
    padding: 1rem;

    .level.bottom {
      width: calc(100% - 2rem);
    }

    video {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      max-height: 100%;
      width: auto;
      max-width: none;
    }

    .selected-tags {
      margin: 0;

      .tag {
        margin-bottom: 0;
      }
    }
  }

  .card-content {

  }

  &.has-level-bottom {
    padding-bottom: 3rem;
  }

  .level.bottom {
    position: absolute;
    width: calc(100% - 3rem);
    bottom: 1rem;
  }

  .title {
    margin-bottom: 0;
  }

  .vote {
    color: color('grey');
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-out;
  }

  &.is-empty {
    text-align: center;
    background: rgba(255,255,255,0.4);
    border: 3px dashed color('grey','light');
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
      border-color: color('accent');
      background: #fff;
    }

    .title {
      margin: 0;
    }
  }

  &.card--pcw {
    padding-bottom: 6rem;

    &::after {
      display: block;
      position: absolute;
      content: 'PlanCo World';
      text-indent: -9999px;
      height: 3.6rem;
      width: 8rem;
      bottom: 1rem;
      left: 50%;
      transform: translateX(-50%);
      background: url('/assets/images/logo-short.svg') no-repeat center;
      background-size: contain;
    }
  }
}

.cards {
  .column {
    display: flex;
  }
}

.fadeIn {
  opacity: 0;

  &.is-active {
    animation: fadeIn 0.3s ease-out forwards;
  }
}

.box {
  box-shadow: none;

  &.is-warning {
    background: $warning;
    color: $grey-darker;
  }

  &.is-primary {
    background: $primary;
    color: #fff;
  }
}
