.color-palette {
  position: relative;

  .colors {
    display: flex;
    flex-wrap: wrap;
  }

  .color {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0.25em;
    cursor: pointer;
    border: 2px solid transparent;

    .delete {
      position: absolute;
      bottom: -0.25rem;
      left: -0.25rem;
      background: #000;
    }

    &.is-new {
      border-color: $grey-lighter;
      color: $grey-lighter;
    }

    &:active {
      transform: scale(0.95);
    }
  }

  .color-palette-picker {
    position: absolute;
    background: #fff;
    border-radius: 4px;
    padding: 1rem;
    z-index: 1000;
    box-shadow: 0 0 2.5rem rgba(0,0,0,0.2);
    transform: translateY(0.5rem);
  }

  .vc-chrome {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: none;
    margin: 1rem auto 0;

    .vc-chrome-saturation-wrap {
      border-radius: 4px;
    }
  }
}
