section.filters {
  padding: 1rem 0;
  background: color('grey','light');

  .ui.label.grey {
    background: color('grey','light')!important;
  }
}

.filter-list {
  position: relative;

  .level {
    margin: 0 0 0.5rem!important;
  }

  .description {
    font-size: 1rem;
    color: color('grey');
    margin-bottom: 0.25em;
  }

  label {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 4rem;

    .tag {
      position: absolute;
      right: 0;
    }
  }

  .controls {
    position: relative;
    max-height: 275px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

.toggles {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem 0 0!important;

  .column {
    padding: 0.25rem!important;
  }
}

.toggle {
  // flex-basis: calc(50% - 0.5rem);
  width: 100%;
  padding: 1rem 0.25rem;
  // margin: 0.25rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  border-radius: 0.5rem;
  white-space: nowrap;

  .icon { margin: 0!important; }

  &:hover {
    border-color: color('accent');
  }

  &.is-selected {
    background: color('accent');
    color: #fff;
    border-color: color('accent');
  }
}
