body {
  padding-top: 64px;
}

.page-home {
  padding-top: 0;
}

nav.navbar {
  position: fixed;
  top: 0;
  z-index: 9950;
  height: 64px;
  width: 100%;
  background: color('accent');

  &.transparent {
    background: transparent;
  }

  @media(max-width: 1024px) {
    background: color('accent');

    .navbar-menu {
      background: color('accent');

      .navbar-start > a, .navbar-end > a, .navbar-dropdown > a, .navbar-link {
        color: rgba(255,255,255,0.75);
        &:hover, &.is-active  {
          color: #fff;
          background: transparent;
        }
      }
    }
  }

  .logo {
    font-weight: 600;
  }

  .search {
    .input {
      background: transparent;
      border: 0;
      border-bottom: 2px solid rgba(255,255,255,0.75);
      border-radius: 0;
      color: #fff;

      &::placeholder {
        color: rgba(255,255,255,0.75);
      }

      &:focus {
        border-color: #fff;
      }

      &:focus ~ .icon, &:hover ~ .icon {
        color: rgba(255,255,255,1)!important;
      }
    }

    .control .icon {
      color: rgba(255,255,255,0.75)!important;
    }
  }

  &.transparent {
    .navbar-brand, .navbar-start, .navbar-end {
      > a, .navbar-link {

      }
    }
  }

  .navbar-brand {
    justify-content: space-between;
  }

  .navbar-brand, .navbar-start, .navbar-end {
    overflow: visible;

    > a, .navbar-link {
      color: rgba(255,255,255,0.75);
      font-size: 1.3rem;
      line-height: 3rem;

      &:hover, &.is-active  {
        color: #fff;
        background: transparent;
      }
    }

    .navbar-link {
      padding-right: 1rem;

      &::after {
        display: none;
      }
    }

    .navbar-item.has-dropdown:hover {

      .navbar-link {
        color: #fff;
        background: transparent;
      }
    }
  }


  .navbar-dropdown.is-right {
    left: auto;
    right: 0;
  }
}

.park-status {
  padding: 1rem;
  background: #E8B340;
  color: rgba(72, 72, 72, 0.6);
}
