section.hero {
  position: relative;
  z-index: 1000;
  padding: 2rem 0;
  background-color: color('accent','darker');
  background-size: cover!important;
  background-repeat: no-repeat!important;
  background-position: center!important;
  color: #fff;
  margin-bottom: 1.5rem;

  &.hero--tall {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cover-photo {
    height: 100%;
    max-height: 100%;
    width: auto;
    max-width: none;
  }

  .hero-meta {
    position: absolute;
    bottom: 2rem;
    width: 100%;
  }
  .level-right .level-item {
    margin: 0 1rem;

    & + .level-item {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  a:not(.dropdown-item):not(.button):not(.tag) {
    color: rgba(255,255,255,0.6);

    &:hover {
      color: #fff;
    }
  }

  .title {
    color: #fff;

    &.level-item {
      margin-bottom: 0!important;
    }
  }

  &.is-light {
    background: color('grey','light');
  }

  & + .hero {
    margin-top: -1.5rem;
  }
}

.texture {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  max-width: none;
  transform: translateX(-50%) translateY(-50%);
}
