main.home-page {
  display: flex;
  height: 100vh;
  align-items: stretch;
  position: relative;
  overflow: hidden;

  .home-welcome {
    position: relative;
    background-color: color('accent');
    background-size: cover!important;
    background-position: center!important;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1 {
      font-family: $fonts-primary;
      text-indent: -9999px;
      width: 500px;
      height: 250px;
      margin: 0 auto 1.5rem;
      background: url('/assets/images/logo.svg') no-repeat center;
      background-size: contain;
    }

    h2 {
      font-family: $fonts-secondary;
      font-weight: 600;
    }

    > div {
      position: relative;
      z-index: 50;
    }

    &::before {
      display: block;
      position: absolute;
      content: ' ';
      height: 100%;
      width: 100%;
      background: rgba(0,0,0,0.2);
      z-index: 49;
    }
  }

  .home-login {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .version {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    z-index: 51;
    z-index: 9005;
  }
}

.columns.stretch {
  height: calc(100vh - 64px );
  align-items: stretch;
  margin: 0;
}
