.hero {
  .page-parks-import & {
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.park-card {
  background: #fff;
  border-radius: 1rem;
  overflow: hidden;

  .park-content {
    padding: 1rem;
  }
}

.park-sidebar {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background: color('accent','darker');
  overflow: hidden;

  .title {
    position: relative;
    color: #fff;
    z-index: 15;
   }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.park-info {
  .collaborators {
    display: flex;
    justify-content: center;

    .profile {
      z-index: 40;
    }

    .profile + .profile {
      z-index: 30;
      margin-left: -2rem;

      .avatar {
        display: flex;
        align-items: center;
      }

      .user {
        opacity: 0;
      }
    }

    .profile + .profile:hover, &.edit-mode .profile + .profile {
      margin-left: 1rem;

      .user {
        opacity: 1;
      }
    }
  }
}

.scenario {
  .scenario-objectives {
    .objective {
      background: color('grey', 'light');
      margin-bottom: 0.5rem;

      ul {
        padding: 0;
        margin: 0;

        li {
          position: relative;
          display: flex;
          align-items: center;
          list-style: none;
          margin: 0;
          padding: 0.5rem 0 0;
          transform: translateX(-0.5rem);

          &::before {
            display: inline;
            content: ' ';
            width: 2rem;
            height: 1px;
            background: color('grey','dark');
            margin-right: 0.5rem;
          }

          &::after {
            position: absolute;
            display: inline;
            content: ' ';
            width: 1px;
            height: 2rem;
            background: color('grey','dark');
            margin-right: 0.5rem;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}