.reactions {
  position: relative;
  display: flex;
  align-items: center;

  .add-reaction {
    position: absolute;
    z-index: 40;
    top: -3rem;
    right: 0;
    display: flex;
    align-items: center;
    padding: 0.4rem;
    border-radius: 0.4rem;
    background: #fff;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);

    .reaction {
      opacity: 1!important;
      height: 1.8rem;
      width: 1.8rem;
    }
  }

  i {
    margin: 0 0.1rem;
    transition: all 0.2s ease-out;
    opacity: 0.4;

    &:hover {
      opacity: 1;
    }
  }

  &.has-selected {
    .reaction:not(.is-selected) {
      opacity: 0.3;
    }
  }
}

.reaction {
  position: relative;
  display: block;
  width: 1.4rem;
  height: 1.4rem;
  background-size: contain!important;
  background-repeat: no-repeat!important;
  text-indent: -9999px;
  margin: 0 0.1rem;
  transition: all 0.2s ease-out;

  .is-selectable &:hover {
    transform: scale(1.2);
    opacity: 1!important;
  }

  &.is-large {
    width: 2.4rem;
    height: 2.4rem;
  }

  &.love {
    background: url('/assets/images/emojis/love.png');
  }

  &.fun {
    background: url('/assets/images/emojis/exciting.png');
  }

  &.boring {
    background: url('/assets/images/emojis/boring.png');
  }

  &.scary {
    background: url('/assets/images/emojis/scary.png');
  }

  &.nauseating {
    background: url('/assets/images/emojis/nauseating.png');
  }
}

.meter {
  display: flex;
  align-items: center;
  position: relative;
  height: 20px;
  border-radius: 25px;
  background: linear-gradient(90deg, #C94448 0%, #E56F36 50%, #1D8922 100%); //excitement
  margin: 1rem 0 0.5rem;

  .reaction {
    height: 2rem;
    width: 2rem;
  }

  &.reverse { // nausea
    background: linear-gradient(90deg, #1D8922 0%, #E56F36 50%, #C94448 100%);
  }

  &.fear {
    background: linear-gradient(90deg, color('grey','light') 25%, #1D8922 50%, #E56F36 75%, #C94448 100%);
  }

  &.teeter {
    background: linear-gradient(90deg, #C94448 0%, #E56F36 25%, #1D8922 50%, #E56F36 75%, #C94448 100%);
  }

  &.speed {
    background: linear-gradient(90deg, color('grey','light') 0%, #5794D0 100%);
  }

  &.lateral-force {
    background: linear-gradient(90deg, #9B7DAE 0%, color('grey','light') 33%, color('grey','light') 66%, #9B7DAE 100%);
  } //5794D0

  &.vertical-force {
    background: linear-gradient(90deg, #5794D0 0%, color('grey','light') 33%, color('grey','light') 66%, #9B7DAE 100%);
  }

  &.forward-force {
    background: linear-gradient(90deg, #9B7DAE 0%, color('grey','light') 33%, color('grey','light') 66%, #5794D0 100%);
  }
}