[draggable]:hover {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

[draggable]:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.toolbox--wrapper {

  .toolbox--button {
    right: 1rem;
    bottom: 0;
    position: fixed;
    bottom: -0.2rem;
    z-index: 9970;
  }

  .toolbox--menu {
    position: fixed;
    z-index: 9971;
    display: flex;
    align-items: stretch;
    background: #fff;
    overflow: hidden;
    // padding: 1.25rem;
    border-radius: 5px;
    height: 75%;
    width: 600px;
    max-width: 100%;
    bottom: 4rem;
    right: 1rem;
    //border: 3px solid color('accent');
    box-shadow: 0 5px 15px rgba(0,0,0,0.075);

    nav.toolbox--nav {
      flex-basis: 105px;
      background: $warning;
      padding: 1.5rem 1rem;
      text-align: center;
      color: rgba(0, 0, 0, 0.7);

      a { 
        color: rgba(0, 0, 0, 0.7); 
        display: block; 
        margin: 0 0 1.5rem; 

        &.is-active {
          opacity: 0.6;
        }
      }

      .icon {
        display: flex;
        margin: 0 auto 0.25rem;
        font-size: 2rem;
      }
    }

    main.toolbox--content {
      flex-grow: 1;
      padding: 1rem;
      overflow: auto;
    }
  }
}
