.upload--form {
  text-align: center;
  position: relative;
  padding: 1em 0;

  .upload--wrapper {
      position: relative;
      margin-bottom: 1em;
  }

  .upload--drop-area {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      flex-grow: 1;
      height: 150px;
      max-width: 800px;
      border: 3px dashed color('grey','light');
      background: #fff;
      padding: 1em;
      margin: 0 auto 1em;
      border-radius: 1rem;

      input {
        position: absolute;
        cursor: pointer;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
      }
  }

  .upload--delete {
    z-index: 15;
  }

  &.is-dark {
    .upload--drop-area {
      background: transparent;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 4px dashed color('accent');
      color: #fff;
    }
  }
}
