.icon {

  &.icon-spooky {
    height: 1.2em;
    width: 1.2em;
    background: url('/assets/images/logo-spooky.svg') no-repeat center;
    background-size: contain;
    position: relative;
    top: 0.2em;
    left: 0.4em;
    margin-right: 0.5em;
  }
}
