// Variables

$fonts-primary: 'Futura';
$font-family-billboard: $fonts-primary;

$primary: #0091D7;
$link: $primary;
$danger: #E54D42;
// $success: #13c339;
$dark: #323c42;
// $warning: #ff8c00;

$grey-lighter: #d5dce2;
$grey-light: #8997a2;
$grey: #8997a2;
// $border-hover: $grey-light !default

@import "~bulma/bulma";

@import './base/base';
@import './components/components';
@import './ui/ui';
@import './vendors/vendors';
