////////////////////////////////////////////////////////////////////////////////
// Color palette function
////////////////////////////////////////////////////////////////////////////////

$colors: (
 'accent': (
    light: #eef0f1,
    base: #0091D7,
    dark: #015D8A,
    darker: #323c42,
 ),
 'secondary': (
    base: #FF8C00,
    dark: #B26200,
    darker: #482400
 ),
 'grey': (
   dark: #363636,
   base: #8997a2,
   light: #d5dce2
 ),
 'red': (
    base: #FF1934
 ),
 'purp': (
   base: #4827C2
 ),
 'green': (
   base: #3FAE2A
 )
);

@function color($color-name, $tone: base) {
    @return map-get(map-get($colors, $color-name), $tone);
}

// background-image: repeating-linear-gradient(
//     60deg,
//     color('secondary'),
//     color('secondary') 10px,
//     color('secondary', 'darker') 10px,
//     color('secondary', 'darker') 20px
//   );

//usage
// a {
//   color: color('grey', 'dark');
// }
