$fonts-primary: 'Interface', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
$fonts-secondary: 'Roboto Slab', 'Rockwell', Georgia, serif;


body {
  font-family: $fonts-primary;
  color: color('grey','dark');
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6, .ui.header {
  font-family: $fonts-secondary;
  color: color('grey','dark');
}

h1.title, h2.title {
  font-weight: 500;

  i {
    font-size: 1em!important;
  }
}

.level {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0!important;
  }
}

.subtitle {
  font-family: $fonts-primary;
}

p {
  font-family: $fonts-primary;
//line-height: 1.1em;
  color: color('grey','dark');
}

.text-center { text-align: center; }

code { color: color('accent'); }

span.bullet { color: color('accent','dark'); font-size: 1rem; }
